<div id="floor-picker">
            <button class="floor-btn" onclick="switchFloor('F5')" id="btn-F5">5</button>
            <button class="floor-btn" onclick="switchFloor('F4')" id="btn-F4">4</button>
            <button class="floor-btn" onclick="switchFloor('F3')" id="btn-F3">3</button>
            <button class="floor-btn" onclick="switchFloor('F2')" id="btn-F2">2</button>
            <button class="floor-btn" onclick="switchFloor('F1')" id="btn-F1">1</button>
            <button class="floor-btn active" onclick="switchFloor('G')" id="btn-G">G</button>
        </div>
