<div class="form-group">
  <label for="source">Source:</label>
  <select id="source">
    <optgroup label="Ground Floor">
      <option value="MainEntrance">Main Entrance</option>
      <option value="Reception">Reception</option>
      <option value="XeroxCenter">Xerox Center</option>
      <option value="SecondEntrance">Second Entrance</option>
      <option value="ElectricalCabin">Electrical Cabin</option>
      <option value="AILab">AI Laboratory</option>
      <option value="DSLab">DS Laboratory</option>
      <option value="CoreSpace">Core Space</option>
      <option value="YuvarajSir">Yuvaraj Sir Cabin</option>
      <option value="SDCHall">SDC Hall</option>
      <option value="StudentRestEast">Student Rest Room (East)</option>
      <option value="AIDS_B">2nd Year AI-DS B</option>
      <option value="AIDS_A">2nd Year AI-DS A</option>
      <option value="CSEC">2nd Year CSE-C</option>
      <option value="LiftEast">Lift (East)</option>
      <option value="StaircaseEast">Staircase (East)</option>
      <option value="NewBuilding">New Building</option>
      <option value="CDCHall">CDC Hall</option>
      <option value="LiftWest">Lift (West)</option>
      <option value="StudentRestWest">Student Rest Room (West)</option>
      <option value="StaircaseWest">Staircase (West)</option>
      <option value="PrincipalRoom">Principal Room</option>
      <option value="StaffRestRoom">Staff Rest Room</option>
      <option value="KnowledgeHub">Knowledge Hub</option>
      <option value="MACLab" selected>MAC Lab</option>
      <option value="Library">Library</option>
      <option value="CashCounter">Cash Counter</option>
      <option value="AdmissionCentre">Admission Centre</option>
      <option value="ScholarshipCounter">Scholarship Counter</option>
      <option value="AmphiTheatre">Amphi Theatre</option>
      <option value="ViscomHall">Viscom Hall</option>
      <option value="Stage">Stage</option>
      <option value="BoardRoom">Board Room</option>
      <option value="IdeaHub">Idea Hub</option>
    </optgroup>
    <optgroup id="src-f1" label="1st Floor"></optgroup>
    <optgroup id="src-f2" label="2nd Floor"></optgroup>
    <optgroup id="src-f3" label="3rd Floor"></optgroup>
    <optgroup id="src-f4" label="4th Floor"></optgroup>
    <optgroup id="src-f5" label="5th Floor"></optgroup>
  </select>
</div>
